/* css reset */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* header */
header{
    background-color: #D9D9D9;
    padding: 0.5rem 0px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.w-80{
    width: 80%;
    margin: auto;
}
nav ul{
    display: flex;
    column-gap: 25PX;
    align-items: center;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #0E0D0D;
}
header button {
    background-color: #382525;
    padding: 5px 20px;
    border-radius: 10px;
}
header button a {
    color: white;
}
/* hero-section */
#hero-section{
    background-color: #382525;
    color: white;
    padding: 86px 0px;
}
.center{
    text-align: center;
}
#hero-section h1,p{
    margin-bottom: 20px ;
}
#hero-section button {
    background-color: #E26464;
    border-radius: 10px;
    padding: 14px 28px;
    color: white;
}
/* grid-section */
#grid-section {
    background-color: #FFFDFD;
    padding: 86px;
}
.grid-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card{
    width: 300px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    row-gap: 10px;
    color: #0E0D0D;
}
.author{ 
    text-align: right;
}
/* footer */
footer{
    background-color: #382525;
    color: black;
}
.footer-row{
    display: flex;
    justify-content: center;
    align-ite0s: center;
    flex-wrap: wrap;
    gap: 6px;
    padding: 30px 0px;
    background-color:#D9D9D9;   
}    
.footer-row div{
    width: 190px;
}
.footer-row div h3{
    margin-bottom: 23px;
}
.newsletter{
    display: flex;
}
.newsletter button{
    background-color: #E26464;
    padding: 8px 5px;
}
.copyright{
     background-color: #E26464;
     padding: 10px;
}
.copyright ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright p{
    margin:0px;
    color:white;
}
.copyright a {
    color: white;
}